/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: hsl(210, 30%, 10%);
    color: hsl(0, 0%, 100%);
    text-align: center;
    padding: 2em;
}

nav ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
    padding: 1em;
}

nav li {
    text-align: center;
}

main {
    max-width: 800px;
    margin: 2em auto;
    padding: 2em;
}

section {
    margin-bottom: 2em;
}

footer {
    background-color: hsl(210, 30%, 10%);
    color: hsl(0, 0%, 100%);
    text-align: center;
    padding: 1em;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#hash-input {
    border: 1px solid hsl(210, 30%, 70%);
    padding: 1em;
}

#hash-input-box {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
}

#hash-form input[type="submit"] {
    padding: 0.5em 1em;
    background-color: hsl(210, 30%, 10%);
    color: hsl(0, 0%, 100%);
    border: none;
    cursor: pointer;
}
